.row
  .nine.columns.centered
    %h3 Genres
    .create
      -if !@auth.nil?
        -if @auth.is_admin
          =link_to("Add Genre", new_genre_path,:class=>'button')
    %table.centered
      -@genres.each do |genre|
        %tr
          -if is_admin
            %td
              =link_to("Edit", edit_genre_path(genre.id),:class=>'button')# :class=>'alert button' )
            %td
              =link_to("Delete", genre, :method =>'delete', :confirm => 'Are you sure?' ,:class=>'alert button' )
          %td
            %span= link_to(genre.name,genre)



