.five.columns.centered
  %h2
    =@genre.name + " Songs"
    %hr
    =link_to("Edit",edit_genre_path(@genre),:class=>'button') if is_admin
    =link_to("Genres",genres_path,:class=>'button') if is_admin
  .songs
    %ul
    -@genre.songs.each do |song|
      .genresong
        %li=link_to(song.name,song)