.five.columns.centered
  %h2
    =@genre.name
    =link_to("Edit",edit_genre_path(@genre),:class=>'button')
    =link_to("Genres",genres_path,:class=>'button')
  .songs
    -@genre.songs.each do |song|
      =link_to(song.name,song)